html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

body {
  background: #fff;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #0a8fce;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #111;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.about .video-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}

.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .video-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #111;
  cursor: pointer;
  margin: 0.7rem;
}

.about .video-container .controls span:hover {
  background: #0a8fce;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: #0a8fce;
  font-size: 2rem;
}

.about .content h3 {
  color: #111;
  font-size: 4rem;
  margin-top: 0.5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #5e5e5e;
  line-height: 2;
}